.user-info{
    size: 20px;
}
.app-header {
    background-color: #4A89F3;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom:  10px solid;
  

    h1 {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 50px;
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 40px;
        font-weight: 500;

        button {
            background-color: #FF5D5D;
            color: #fff;
            border: none;
            padding: 8px 20px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #FF3D3D;
            }
        }
    }
}

@media (max-width: 768px) {
    .app-header {
        flex-direction: column;
        padding: 15px 20px;
    }

    .app-header h1 {
        font-size: 22px; 
        margin-left: 0;
        text-align: center; 
    }

    .user-info {
        margin-top: 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .app-header {
        padding: 10px 15px;
    }

    .app-header h1 {
        font-size: 20px; 
    }

    .user-info {
        font-size: 14px;
    }
}

